<div class="action-bar">
  <h1>Pokémon Type Quiz</h1>
</div>

<div class="container">
  <p class="instructions">
    How effective is a 
    <span [style.backgroundColor]="attackType.backgroundColor" [style.color]="attackType.color">
      {{ attackType.name }}
    </span>
    move against a

    <span [style.backgroundColor]="defenseType1.backgroundColor" [style.color]="defenseType1.color">
      {{ defenseType1.name }}
    </span>

    <span class="secondType" *ngIf="dualTypeQuestion" [style.backgroundColor]="defenseType2.backgroundColor" [style.color]="defenseType2.color">
      {{ defenseType2.name }}
    </span>
    Pokémon?
  </p>

  <div (click)="checkAnswer($event)" class="button-container">
    <button data-answer="0.24" [class]="determineButtonClass(0.24)" [disabled]="uiDisabled" [hidden]="!dualTypeQuestion">
      Not Very & Immunity (24%)
    </button>
    <button data-answer="0.39" [class]="determineButtonClass(0.39)" [disabled]="uiDisabled">
      {{ dualTypeQuestion ? 'Not Very 2x (39%)' : 'Immunity (39%)' }}
    </button>
    <button data-answer="0.625" [class]="determineButtonClass(0.625)" [disabled]="uiDisabled">
      Not Very (62.5%)
    </button>
  </div>
  <div (click)="checkAnswer($event)" class="button-container">
    <button data-answer="1" [class]="determineButtonClass(1)" [disabled]="uiDisabled">
      Normal (100%)
    </button>
    <button data-answer="1.6" [class]="determineButtonClass(1.6)" [disabled]="uiDisabled">
      Super (160%)
    </button>
    <button data-answer="2.56" [class]="determineButtonClass(2.56)" [disabled]="uiDisabled" [hidden]="!dualTypeQuestion">
      Super 2x (256%)
    </button>
  </div>

  <p class="message">{{ message }}</p>
</div>

<div class="streak">
  Current streak: {{ streak }}
</div>