<div class="action-bar">
  <h1>Pokémon Type Quiz</h1>
</div>

<div class="container">
  <p class="instructions">
    How effective is a 
    <span [style.backgroundColor]="attackType.backgroundColor" [style.color]="attackType.color">
      {{ attackType.name }}
    </span>
    move against a

    <span [style.backgroundColor]="defenseType1.backgroundColor" [style.color]="defenseType1.color">
      {{ defenseType1.name }}
    </span>

    <span class="secondType" *ngIf="dualTypeQuestion" [style.backgroundColor]="defenseType2.backgroundColor" [style.color]="defenseType2.color">
      {{ defenseType2.name }}
    </span>
    Pokémon?
  </p>

  <div (click)="checkAnswer($event)" class="button-container">
    <button data-answer="0" [class]="determineButtonClass(0)" [disabled]="uiDisabled">
      0x
    </button>
    <button data-answer="0.25" [class]="determineButtonClass(0.25)" [disabled]="uiDisabled" [hidden]="!dualTypeQuestion">
      0.25x
    </button>
    <button data-answer="0.5" [class]="determineButtonClass(0.5)" [disabled]="uiDisabled">
      0.5x
    </button>
  </div>
  <div (click)="checkAnswer($event)" class="button-container">
    <button data-answer="1" [class]="determineButtonClass(1)" [disabled]="uiDisabled">
      1x
    </button>
    <button data-answer="2" [class]="determineButtonClass(2)" [disabled]="uiDisabled">
      2x
    </button>
    <button data-answer="4" [class]="determineButtonClass(4)" [disabled]="uiDisabled" [hidden]="!dualTypeQuestion">
      4x
    </button>
  </div>

  <p class="message">{{ message }}</p>
</div>

<div class="streak">
  Current streak: {{ streak }}
</div>