html {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
}

.action-bar {
  background: #ED3730;
  color: white;
}
.action-bar h1 {
  margin: 0 0 0 0.5rem;
  padding: 1rem 1rem 1rem 2.75rem;
  font-weight: normal;
  background-image: url("Pokeball.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center left;
}

.container {
  padding: 1rem;
}

.instructions span {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.secondType {
  margin-left: 0.2rem;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
button {
  background: #6c757d;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 2rem;
  color: white;
  width: 50%;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
}

button:not(:first-child) {
  margin-left: 0.5rem;
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}


.message {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}

.streak {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #343a40;
  color: white;
}